{% load static %}


<style>
  .hello-msg{
    font-size: 18px;
    color: rgb(246, 251, 246);
    margin-right: 20px;
  }
  .navbar{
    border-bottom: 1px solid black;
    background-color: rgb(252, 252, 254);
  }
</style>

<nav class="navbar navbar-expand-lg fixed-top">
 <img src="{% static 'images/R.jpg' %}" height="80px" width="300px">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <span class="nav-link" style="font-size: larger;"><b><i>Hello, {{ request.user.faculty }}</i></b></span>
      </li>
      <li class="nav-item active">
        <a href="{% url 'home' %}" class="nav-link" style="font-size: larger;"><b>Home</b></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'account' %}"style="font-size: larger;"><b>Account</b></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'logout' %}"style="font-size: larger;"><b>Logout</b></a>
      </li>
    </ul>
  </div>
</nav>